header {
    background-color: orange;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 8vh;
}

/* #sumbit {
    align-content: center;
} */

#main-box {
    background-color: blue;
}