header {
    background-color: orange;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 10%;
}

.court {
    height: 50%;
    position:relative;
    bottom: 0px;
    left: 0px;
}


.drop-down {
    padding: 1px;
    position: fixed
}

.nba {
    position:absolute;
    top: 134px;
    left: 188px;
}