header {
    background-color: orange;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    height: 10%;
}

p {
    margin: 5px;
}

.drop-down {
    padding: 1px;
}

/* #sumbit {
    align-content: center;
} */



